<article>
<header>
<h1>
  <a href="{{ post.url| relative_url }}" rel="bookmark"
     title="Permanent Link to {{ post.title | escape }}">
    {{ post.title | escape }}
  </a>
</h1>
{% if post.previous.url %}
  <a class="older" href="{{post.previous.url| relative_url}}"
     title="Older Post &ldquo;{{post.previous.title}}&rdquo;">&#8617;</a>
{% endif %}
{% if post.next.url %}
  <a class="newer" href="{{post.next.url| relative_url}}"
     title="Newer Post &ldquo;{{post.next.title}}&rdquo;">&#8618;</a>
{% endif %}
</header>
<h4><a href="{{ "/archive" | relative_url }}">{{ post.date | date: "%B %d, %Y" }}</a>
    <span class="tags">{{ post.categories | categorylinks }}</span>
</h4>
