<nav>
  <div class="nav-first">
    <a href="{{"/assets/image/logo.png"|relative_url}}"><img src="{{"/assets/image/logo.png"|relative_url}}" class="bob"></a>

    <a href="{{"/"|relative_url}}"><h2>Home</h2></a>
    <a href="{{"/vhelper"|relative_url}}"><h2>V Helper</h2></a>
    <a href="{{"/blog"|relative_url}}"><h2>Blog</h2></a>
    <a href="{{"/about"|relative_url}}"><h2>Contact</h2></a>
  </div>
  <div class="nav-second">

    <p class="copyright">&copy; 2018 Roy Huang</p>
  </div>

  
</nav>